// ———————————————————————————————————————
// Base Colors
// ———————————————————————————————————————
$white-color: #FFFFFF;
$black-color: #000000;

$red-color: #F23F43;
$green-color: #23A55A;

$blue-100-color: #E2ECF9;
$blue-200-color: #A093FF;
$blue-300-color: #7D6DFF;
$blue-400-color: #5B48FF;
$blue-500-color: #4D3BEA;
$blue-600-color: #3E2FC2;
$blue-700-color: #5932EA;
$blue-800-color: #2F178B ;

$gray-200-color: #D9D9D9;
$gray-400-color: #9197B3;
$gray-800-color: #232531;

// ———————————————————————————————————————
// Light Theme
// ———————————————————————————————————————
$light-primary-color: #5932EA;
$light-secondary-color: #FAFBFF;

// ———————————————————————————————————————
// Dark Theme
// ———————————————————————————————————————
$dark-primary-color: #5932EA;
$dark-secondary-color: #FAFBFF;