@use '@styles/variables' as *;

.container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(4px);
    animation: appear 0.3s ease-in-out;

    & .modal_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em 2em;
        max-width: 420px;

        border-radius: 0.5em;
        background-color: $white-color;

        box-shadow: 0px 0px 60px 0px rgba(226, 236, 249, 1);
        -webkit-box-shadow: 0px 0px 60px 0px rgba(226, 236, 249, 1);
        -moz-box-shadow: 0px 0px 60px 0px rgba(226, 236, 249, 1);

        & .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;

            & .icon_container {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0.5em;

                border-radius: 100%;
                background-color: rgba($red-color, 0.2);

                & .icon {
                    padding-bottom: 0.2em;
                    color: $red-color;
                }
            }

            & .title {
                font-weight: 500;
                font-size: 1.2em;
                color: $gray-400-color;
            }
        }

        & .body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            text-align: center;
            & .message {
                color: $gray-400-color;
            }

            & .details {
                color: $gray-200-color;
                font-size: 0.925em;

            }
        }


        & .footer {
            display: flex;
            gap: 0.5em;
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.98;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}